body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
// MOBILE

@media screen and (max-width: 767px) {

    .nav__logo{
        justify-content: center!important;
    }
.footer__body{
    display:block!important;
    width:90%!important;
}

.footer__body__section{
    display:block;
    width:100%!important;
    padding: 8px 0px 0px;
    padding-right:16px;
}

.footer__body__section h2{
 display:none!important;
}

.footer__body__section__resp__header{
    display:flex!important;
    justify-content: center;
    align-items: center;
width:100%;
border-bottom:  1px solid grey;
}

.footer__body__section__resp__header h2{
    display:flex!important;
    width:80%;
    }

    .footer__body__section__icon{
        width:20%;
        display:flex;
        justify-content: flex-end;
        font-size: 40px;
    }

.footer__body__section ul{
    display:none;
}

.footer__body__btn__section__resp {
    display:flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
.footer__body__btn__section{
    display:none!important;
}

#destination__search{
    min-width: 120px!important;
}

.footer__bottom{
    margin-right:0!important;
    margin-left:0!important;
    display: flex;
    justify-content: center!important;
}

}

// TABLET
@media screen and (max-width: 1023px)   {
    .nav__links{
        width:85%!important;
    }
    .nav__links__elements{
        display:none!important;
    }
    .nav__link__burger{
        font-size: 28px;
        font-weight:bold;
        justify-content: center;
        align-items: center;
        display: flex!important;
        margin-right: 20px;
    }

    .nav__logo{
        justify-content: center!important;
    }

    .inline__cta__buttons{
        flex-direction: column;
        height:inherit;
        z-index: 100;
        display:flex;
        justify-content: center;
        align-items: center;
        display:flex;
        justify-content: flex-end;
        height: 600px;
        width: 100%;
        position: absolute;

    }

    .cta__button__signup{
        display: none!important;
        width:0;
    }

    .cta__button__apply{
        display: none!important;
        width:0;
    }

    .cta__button__signup__resp{  
background-color:white;
        border-radius:25px;
        font-size:16px;
        line-height:20px;
        padding:14px 30px;
        color:black;
        display:flex!important;
    }

    .cta__button__apply__resp{
        border-radius:25px;
        font-size:16px;
        line-height:20px;
        border:1px solid white;
        padding:14px 30px;
        color:white;
        display:flex!important;
    }
    
    .bottom__links__elements_resp{
        margin-bottom:20px!important;
        }

        .bottom__links__elements__resp2{
            width:50%;
            text-align: center;
        }

        .main__container__bottom__resp{
            display:flex!important;
            align-items:center;
            justify-content:center;
            margin-right:5%;
            margin-left:5%;
            height:80px!important;
        }

        .main__container__bottom{
            display:none!important;
        }

        .footer__body__btn__section__resp{
            display:none;
        }
        .footer__body__section__resp__header{
            display:none;
        }
    }



// DESKTOP

.nav {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    border-bottom:1px solid var(--core-ui-theme-divider,rgba(216,216,228,1));
    position:fixed;
    top:0;
    background-color: white;
}

.nav__logo img{
    height:80%;
    
}

.nav__logo:hover{
   cursor: pointer;    
}

.nav__logo{
    justify-content: flex-start;
    align-items: center;
    display:flex;
}

.nav__link__burger{
    display:none;
}

#destination__search{
    border-radius:6px;
    border: 1px solid var(--core-ui-theme-stroke-secondary,rgba(12,11,49,0.45));
    justify-content: center;
    align-items: center;
    padding:10px;
    min-width:330px;
    height:25%;
}

.nav__links{
    display: flex;
    justify-content: flex-end;
    height:100%;
    width: 75%;
}

.nav__search__bar{
padding-right:32px;
justify-content: center;
    align-items: center;
    display: flex;
}

.nav__links__elements{
    padding:24px;
    border-left: 1px solid var(--core-ui-theme-divider,rgba(216,216,228,1));
    font-size: 16px;
    font-weight:bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav__links__elements:hover{
    color:blue;
    cursor:pointer;
}

.main__container__banner{

}

.main__container{
    margin-top:80px;
}

.main__container__bottom__resp{
    display:none;

}

.main__container__bottom{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:5%;
    margin-left:5%;
    height:80px;
}

.bottom__links__elements{
    width:20%;
    text-align:center;
}

.cta__button__signup{
    background-color:blue;
    border-radius:25px;
    font-size:16px;
    line-height:20px;
    padding:14px 30px;
    color:white;
}

.cta__button__signup:hover{
    cursor:pointer;
}

.cta__button__apply{
    border-radius:25px;
    font-size:16px;
    line-height:20px;
    border:1px solid #000;
    padding:14px 30px;
    color:black;
}

.cta__button__apply:hover{
    cursor:pointer;
    background-color: rgb(218, 218, 218);
}

.cta__button:hover{
    cursor:pointer;
    border-radius:15px;
    background-color: rgb(218, 218, 218);
    padding:7px 10px;
}

.cta__button__apply__resp{
    display:none;
}

.cta__button__signup__resp{
    display:none;
}


.footer__bg{
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgb(231, 231, 239) 0%, rgb(244, 244, 250) 5%, rgb(255, 255, 255) 10%);
}
.footer__body__section{
    display:block;
    width:20%;
    padding: 8px 0px 0px;
    padding-right:16px;
}

.footer__body{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 73.33%;
}

.footer__body__section h2 {
    padding:32px 0px 24px;
}

.footer__body__links{
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}

.footer__body__links li {
    margin-bottom:8px;
}

.footer__body__links li:hover {
    color: blue;
    cursor: pointer;
}


.footer__body__btn__section{
  margin-top: 50px;
}

.footer__body__section__btns{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    min-width: 100px;
    padding: 0px 24px;
    border: 1px solid #000;
    border-radius: 100px;
    margin-bottom: 20px;
}

.footer__body__section__btns:hover{
    background-color: rgb(218, 218, 218);
    cursor:pointer;
}

.footer__bottom{
    margin-right:22.5%;
    margin-left:18.5%;
    display: flex;
    justify-content: flex-end;
}

.footer__bottom__terms{
    display:flex;
    height:100px;
    justify-content: center;
    align-items: center;
}

.footer__bottom__terms p{
    margin-right: 10px;
    text-decoration:underline; 
    color:blue;
    font-size:14px;
}

.footer__body__btn__section__resp{
    display:none;
}
.footer__body__section__resp__header{
    display:none;
}

