body {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .nav__links {
    width: 85% !important;
  }
  .nav__links__elements {
    display: none !important;
  }
  .nav__link__burger {
    font-size: 28px;
    font-weight: bold;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .inline__cta__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: inherit;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .cta__button__signup {
    display: none !important;
    width: 0;
  }
  .cta__button__apply {
    display: none !important;
    width: 0;
  }
  .cta__button__signup__resp {
    background-color: white;
    border-radius: 25px;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 30px;
    color: black;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .cta__button__apply__resp {
    border-radius: 25px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid white;
    padding: 14px 30px;
    color: white;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .bottom__links__elements_resp {
    margin-bottom: 20px !important;
  }
  .bottom__links__elements__resp2 {
    width: 50%;
    text-align: center;
  }
  .main__container__bottom__resp {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
    height: 80px !important;
  }
  .main__container__bottom {
    display: none !important;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid var(--core-ui-theme-divider, #d8d8e4);
}

.nav__logo {
  width: 10%;
}

.nav__link__burger {
  display: none;
}

#destination__search {
  border-radius: 6px;
  border: 1px solid var(--core-ui-theme-stroke-secondary, rgba(12, 11, 49, 0.45));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  min-width: 330px;
  height: 25%;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 75%;
}

.nav__search__bar {
  padding-right: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__links__elements {
  padding: 24px;
  border-left: 1px solid var(--core-ui-theme-divider, #d8d8e4);
  font-size: 16px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__container__banner {
  width: 100%;
  height: 600px;
  background-color: red;
}

.main__container__bottom__resp {
  display: none;
}

.main__container__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5%;
  margin-left: 5%;
  height: 80px;
}

.bottom__links__elements {
  width: 20%;
  text-align: center;
}

.cta__button__signup {
  background-color: blue;
  border-radius: 25px;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 30px;
  color: white;
}

.cta__button__signup:hover {
  cursor: pointer;
}

.cta__button__apply {
  border-radius: 25px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #000;
  padding: 14px 30px;
  color: black;
}

.cta__button__apply:hover {
  cursor: pointer;
  background-color: #dadada;
}

.cta__button:hover {
  cursor: pointer;
  border-radius: 15px;
  background-color: #dadada;
  padding: 7px 10px;
}

.cta__button__apply__resp {
  display: none;
}

.cta__button__signup__resp {
  display: none;
}

.footer__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#e7e7ef), color-stop(5%, #f4f4fa), color-stop(10%, white));
  background: linear-gradient(#e7e7ef 0%, #f4f4fa 5%, white 10%);
}

.footer__body__section {
  display: block;
  width: 20%;
  padding: 8px 0px 0px;
  padding-right: 16px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 73.33%;
}

.footer__body__section h2 {
  padding: 32px 0px 24px;
}

.footer__body__links {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
}

.footer__body__links li {
  margin-bottom: 8px;
}

.footer__body__btn__section {
  margin-top: 50px;
}

.footer__body__section__btns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  min-width: 100px;
  padding: 0px 24px;
  border: 1px solid #000;
  border-radius: 100px;
  margin-bottom: 20px;
}

.footer__bottom {
  min-height: 100px;
}
/*# sourceMappingURL=style.css.map */